
body{
    margin: 0;
    color: #82a5ca ;   
    text-align: center;
    font-family: Starjedi;
}
#hero {
    
    background-image: url("/Images/guillermo-ferla-Oze6U2m1oYU-unsplash.jpg");
    background-size: cover;
    padding: 10px 0px 40px 0px;
}
.btn{
    padding: 5px 10px;
    background: white;
    border: none;
    font-family: inherit;
    color:#82a5ca;
    font-weight:bold;
   
}
@font-face {
    src: url("/Fonts/Starjedi.ttf");
    font-family: Starjedi;
    
}
.cta{
    /*text-decoration: underline;*/
    border-bottom: 4px solid white;
    
}

#logo{
    width: 300px;
    margin-top: 30px;     
}